<form action="/answer" method="get">
  <div class="form-group">
    <input type="text" name="ask" class="form-control" value="<%= params[:ask] %>" placeholder="Tell me something!">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</form>